name: Integration Tests

on:
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        
      - name: Run integration tests with fork
        run: forge test --match-path test/integration/* --fork-url ${{ secrets.BASE_RPC_URL }} -vv
        env:
          BASE_RPC_URL: https://mainnet.base.org
